.s-m{
    position: absolute;
    top: 5%;
    right: 0%;
    transform: translate(-10%,-10%);
  }
  .s-m a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: #2c3e50;
    color: white;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 22px;
  }
  .s-m a:hover{
    background: #e67e22;
  }
  .s-m a i{
    transition: 0.4s all;
  }
  .s-m a:hover > i{
    transform: scale(1.6) rotate(25deg);
  }
  